@import 'styles/Variables';

.aaronpadding {
  margin-top: 15px;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2% 0;
  background-color: #e5eaf4;

  .container {
    width: 100%;
    max-width: 1200px; // Adjust this value based on your desired design
    margin: 0 auto;
    padding: 0 15px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .leftCol {
      flex: 1;
      padding: 0 20px;
      align-content: flex-start;

      .imageWrapper {
        width: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }

    .rightCol {
      flex: 1;
      padding: 0 20px;
      box-sizing: border-box;
      align-content: flex-end;
      align-items: center;
      margin-top: 5%;

      // ... rest of the .rightCol styles
    }
  }
}

@media (max-width: $breakpoint-small) {
  .hero {
    .row {
      .leftCol,
      .rightCol {
        flex: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
