.hero {
  background-color: #e5eaf5;
  // Add any other hero styles you need
}

.container {
  // Your container styles
}

.imageWrapper {
  // Your imageWrapper styles
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem; // Adjust the gap value to create more or less space between the items
}

.subtitle {
  // Your subtitle styles
}

.title {
  // Your title styles
}

.text {
  // Your text styles
}

.aaronpadding {
  // Your aaronpadding styles
}

.button {
  background-color: #4caf50;

  &:hover {
    background-color: darken(#4caf50, 10%);
  }
}
