$font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$container-max-width: 1200px;

$content-max-width: 620px;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

$primary-color:#0fe2e9;
$second-color:#e90f5e;
$third-color:#e9a40f;

// Add this to your styles/Variables.scss file
$top-bar-height: 55px; // Change this value based on the actual height of your TopBar

